In [3]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, to_date
import time
spark = SparkSession.builder.getOrCreate()

schema_local_system = 'id STRING, first_name STRING, last_name STRING, email STRING, gender STRING, age INT, plan STRING, enrollment_in STRING'
df_gympass_customer = spark.read.option("header","true").csv('./data/fpfgym/gympass_customer.csv')
df_gympass_customer.write.format('delta').save('s3a://datalake-poslabs/bronze/gympass_customer')
s = time.time()
df_local_system_customer = spark.read.option("header","true").schema(schema_local_system).csv('./data/fpfgym/local_system_customer.csv')
df_local_system_customer.write.format('delta').save('s3a://datalake-poslabs/bronze/local_system_customer')
e = time.time()
print(e-s)

0.8739902973175049

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, to_date, date_format, when, lit, broadcast, monotonically_increasing_id

spark = SparkSession.builder.getOrCreate()
df_customer_gympass = spark.read.format("delta").load('s3a://datalake-poslabs/bronze/gympass_customer')
df_plans = df_customer_gympass.select(col('plano').alias('plano_nome')).distinct()
df_plans = df_plans.withColumn('id_plano', monotonically_increasing_id()+1)
df_plans.write.format('delta').save('s3a://datalake-poslabs/silver/plans')

In [79]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, to_date, date_format, when, lit, broadcast, monotonically_increasing_id, lit
spark = SparkSession.builder.getOrCreate()
df_plans = spark.read.format("delta").load('s3a://datalake-poslabs/silver/plans')
df_customer_gympass = spark.read.format("delta").load('s3a://datalake-poslabs/bronze/gympass_customer')
df_local_system_customer = spark.read.format("delta").load('s3a://datalake-poslabs/bronze/local_system_customer')
df_local_system_customer = df_local_system_customer\
                           .withColumnRenamed('first_name', 'nome')\
                           .withColumnRenamed('last_name', 'sobrenome')\
                           .withColumnRenamed('gender', 'genero')\
                           .withColumnRenamed('age', 'idade')\
                           .withColumnRenamed('enrollment_in', 'matriculado_em')\
                           .withColumnRenamed('plan', 'plano')

df_local_system_customer = df_local_system_customer\
                           .withColumn('telefone', lit('N達o definido'))\
                           .withColumn('endereco', lit('N達o definido'))

df_local_system_customer = df_local_system_customer.withColumn('fonte', lit('sistema_local'))
df_customer_gympass = df_customer_gympass.withColumn('fonte', lit('gympass'))

df_union = df_local_system_customer.unionByName(df_customer_gympass)
df_union = df_union.withColumn('matriculado_em', to_date(col('matriculado_em'), 'M/d/yyyy').cast('date'))
df_union = df_union.withColumn('email', when(df_union.email.rlike(r'([A-Za-z0-9]+[.-_])*[A-Za-z0-9]+@[A-Za-z0-9-]+(\.[A-Z|a-z]{2,})+'), col('email')).otherwise(lit('N達o definido')))
df_plans = spark.read.format("delta").load('s3a://datalake-poslabs/silver/plans')
df_union = df_union.join(broadcast(df_plans), df_union['plano'] == df_plans['plano_nome'], 'inner')
df_union = df_union.drop('plano_nome', 'plano')
df_union.write.format('delta').save('s3a://datalake-poslabs/silver/customer')
print(df_union.count())

2000

In [80]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, to_date, date_format, when, lit, broadcast, monotonically_increasing_id, month, year

spark = SparkSession.builder.getOrCreate()
df_customer_silver = spark.read.format("delta").load('s3a://datalake-poslabs/silver/customer')

df_customer_silver = df_customer_silver.withColumn('matriculado_em', to_date(col('matriculado_em'), 'M/d/yyyy').cast('date'))
df_customer_silver.show()
df_customer_silver = df_customer_silver.groupBy(year(col('matriculado_em')).alias('year'), month(col('matriculado_em')).alias('month')).agg({'id': 'count'})
df_customer_silver = df_customer_silver.orderBy('year', 'month')
df_customer_silver.show()

+----------+--------+----------+--------------------+-----------+-----+--------------+----------+--------------------+-------+--------+
|        id|    nome| sobrenome|               email|     genero|idade|matriculado_em|  telefone|            endereco|  fonte|id_plano|
+----------+--------+----------+--------------------+-----------+-----+--------------+----------+--------------------+-------+--------+
|80-5437854|  Lenard|    Pobjay|        N達o definido|       Male|   24|    2022-02-14|3176236246| 2 Mockingbird Point|gympass|       2|
|77-0899770|  Cherri|     Sames|      csames1@hp.com|     Female|   15|    2022-04-04|4048434801|  73 Butternut Drive|gympass|       2|
|05-7286357| Cheston|    Keeler|ckeeler2@t-online.de|       Male|   81|    2022-06-19|9007954668|    71506 Boyd Plaza|gympass|       1|
|01-3984300|    Moll|   Merrill|mmerrill3@shareas...|     Female|   30|    2022-11-05|8888324782|                null|gympass|       2|
|96-1408728|   Cindi|     Dunne|   cdunne4@globo.com|     Female|   51|    2021-04-01|4079831503|87027 Browning Court|gympass|       2|
|14-4792073|   Mommy|   Murfett|mmurfett5@dailymo...|Genderqueer|   20|    2022-07-09|2462744544|129 Kingsford Circle|gympass|       3|
|95-9568346|  Tobias|   Hancorn|thancorn6@comcast...|       Male|   27|    2022-09-24|4094010385|    179 Talisman Way|gympass|       1|
|17-1204237|   Selig| Rittmeier|srittmeier7@reddi...|       Male|   58|    2021-09-12|2164877922|872 Mockingbird C...|gympass|       3|
|27-5823995| Roberto|MacCoveney|rmaccoveney8@coms...|       Male|   58|    2022-01-08|4366597087|                null|gympass|       3|
|04-0675057|  Hughie|  Roullier|hroullier9@huffin...|       Male|   70|    2021-06-06|5624715989|                null|gympass|       2|
|72-5353068|   Dania|    Adaway|    dadawaya@nps.gov|     Female|    3|    2021-05-13|8792101541|        8 Moose Road|gympass|       3|
|16-2881567|   Yancy|     Shory|yshoryb@networkso...|       Male|   84|    2022-02-12|4558501864| 44178 Sundown Plaza|gympass|       1|
|73-5261287|Christan|    Cluatt| ccluattc@drupal.org| Polygender|   66|    2022-03-20|4879567078|71907 Lakewood Ce...|gympass|       3|
|17-4974388| Gaylord|   Munnery| gmunneryd@wufoo.com|       Male|   26|    2023-06-10|3589347373| 10956 Schiller Lane|gympass|       3|
|74-0296513|  Beilul| Grzegorek|bgrzegoreke@netlo...|     Female|   55|    2022-11-03|2555427675|                null|gympass|       1|
|29-4880541|    Abbe|   Decruse|adecrusef@microso...|     Female|    3|    2022-03-14|7202543249|     1 Granby Avenue|gympass|       3|
|84-6532502|  Martin|   Caillou|mcailloug@theatla...|       Male|   21|    2022-12-29|4487998501|   167 Ridge Oak Way|gympass|       2|
|06-0394527| Zebulen|    Begley|   zbegleyh@cnbc.com|       Male|   88|    2023-05-11|6777447098|    42171 Susan Road|gympass|       2|
|32-5920411| Kalindi|   Kelling| kkellingi@google.it|     Female|   52|    2022-08-28|4653034481|  512 Saint Paul Way|gympass|       1|
|11-8105306|    Lowe|   Rubinow|lrubinowj@amazon....|       Male|   99|    2023-06-25|6294511887|   82252 Oxford Park|gympass|       1|
+----------+--------+----------+--------------------+-----------+-----+--------------+----------+--------------------+-------+--------+
only showing top 20 rows

+----+-----+---------+
|year|month|count(id)|
+----+-----+---------+
|2021|    3|       54|
|2021|    4|       68|
|2021|    5|       66|
|2021|    6|       54|
|2021|    7|       76|
|2021|    8|       77|
|2021|    9|       64|
|2021|   10|       82|
|2021|   11|       68|
|2021|   12|       74|
|2022|    1|       75|
|2022|    2|       76|
|2022|    3|       69|
|2022|    4|       62|
|2022|    5|       64|
|2022|    6|       80|
|2022|    7|       67|
|2022|    8|       78|
|2022|    9|       90|
|2022|   10|       81|
+----+-----+---------+
only showing top 20 rows

In [81]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, to_date, date_format, when, lit, broadcast, monotonically_increasing_id

spark = SparkSession.builder.getOrCreate()
df_customer_silver = spark.read.format("delta").load('s3a://datalake-poslabs/silver/customer')

df_customer_silver = df_customer_silver.withColumn('matriculado_em', to_date(col('matriculado_em'), 'M/d/yyyy').cast('date'))
df_customer_silver = df_customer_silver.groupBy(col('fonte')).agg({'id': 'count'})
df_customer_silver.show()

+----------+--------+----------+--------------------+-----------+-----+--------------+----------+--------------------+-------+--------+
|        id|    nome| sobrenome|               email|     genero|idade|matriculado_em|  telefone|            endereco|  fonte|id_plano|
+----------+--------+----------+--------------------+-----------+-----+--------------+----------+--------------------+-------+--------+
|80-5437854|  Lenard|    Pobjay|        N達o definido|       Male|   24|    2022-02-14|3176236246| 2 Mockingbird Point|gympass|       2|
|77-0899770|  Cherri|     Sames|      csames1@hp.com|     Female|   15|    2022-04-04|4048434801|  73 Butternut Drive|gympass|       2|
|05-7286357| Cheston|    Keeler|ckeeler2@t-online.de|       Male|   81|    2022-06-19|9007954668|    71506 Boyd Plaza|gympass|       1|
|01-3984300|    Moll|   Merrill|mmerrill3@shareas...|     Female|   30|    2022-11-05|8888324782|                null|gympass|       2|
|96-1408728|   Cindi|     Dunne|   cdunne4@globo.com|     Female|   51|    2021-04-01|4079831503|87027 Browning Court|gympass|       2|
|14-4792073|   Mommy|   Murfett|mmurfett5@dailymo...|Genderqueer|   20|    2022-07-09|2462744544|129 Kingsford Circle|gympass|       3|
|95-9568346|  Tobias|   Hancorn|thancorn6@comcast...|       Male|   27|    2022-09-24|4094010385|    179 Talisman Way|gympass|       1|
|17-1204237|   Selig| Rittmeier|srittmeier7@reddi...|       Male|   58|    2021-09-12|2164877922|872 Mockingbird C...|gympass|       3|
|27-5823995| Roberto|MacCoveney|rmaccoveney8@coms...|       Male|   58|    2022-01-08|4366597087|                null|gympass|       3|
|04-0675057|  Hughie|  Roullier|hroullier9@huffin...|       Male|   70|    2021-06-06|5624715989|                null|gympass|       2|
|72-5353068|   Dania|    Adaway|    dadawaya@nps.gov|     Female|    3|    2021-05-13|8792101541|        8 Moose Road|gympass|       3|
|16-2881567|   Yancy|     Shory|yshoryb@networkso...|       Male|   84|    2022-02-12|4558501864| 44178 Sundown Plaza|gympass|       1|
|73-5261287|Christan|    Cluatt| ccluattc@drupal.org| Polygender|   66|    2022-03-20|4879567078|71907 Lakewood Ce...|gympass|       3|
|17-4974388| Gaylord|   Munnery| gmunneryd@wufoo.com|       Male|   26|    2023-06-10|3589347373| 10956 Schiller Lane|gympass|       3|
|74-0296513|  Beilul| Grzegorek|bgrzegoreke@netlo...|     Female|   55|    2022-11-03|2555427675|                null|gympass|       1|
|29-4880541|    Abbe|   Decruse|adecrusef@microso...|     Female|    3|    2022-03-14|7202543249|     1 Granby Avenue|gympass|       3|
|84-6532502|  Martin|   Caillou|mcailloug@theatla...|       Male|   21|    2022-12-29|4487998501|   167 Ridge Oak Way|gympass|       2|
|06-0394527| Zebulen|    Begley|   zbegleyh@cnbc.com|       Male|   88|    2023-05-11|6777447098|    42171 Susan Road|gympass|       2|
|32-5920411| Kalindi|   Kelling| kkellingi@google.it|     Female|   52|    2022-08-28|4653034481|  512 Saint Paul Way|gympass|       1|
|11-8105306|    Lowe|   Rubinow|lrubinowj@amazon....|       Male|   99|    2023-06-25|6294511887|   82252 Oxford Park|gympass|       1|
+----------+--------+----------+--------------------+-----------+-----+--------------+----------+--------------------+-------+--------+
only showing top 20 rows

+-------------+---------+
|        fonte|count(id)|
+-------------+---------+
|      gympass|     1000|
|sistema_local|     1000|
+-------------+---------+

In [82]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, to_date, date_format, when, lit, broadcast, monotonically_increasing_id

spark = SparkSession.builder.getOrCreate()
df_customer_silver = spark.read.format("delta").load('s3a://datalake-poslabs/silver/customer')
# Defina os limites das faixas de idade (de 10 em 10)
age_lower_bound = 10
age_upper_bound = 100
age_step = 10

# Crie uma express達o para calcular a faixa de idade correspondente
age_group_expr = ((col("idade") // age_step) * age_step).alias("faixa_de_idade")

# Agrupe os dados pela faixa de idade
df_customer_silver = df.groupBy(age_group_expr).count()

# Mostre o DataFrame resultante
df_customer_silver.show()

TypeError: unsupported operand type(s) for //: 'Column' and 'int'